/* Reset. */
body, h1, h2, h3, p, ul {
    padding: 0px;
    margin: 0px;
}

/*

SUMÁRIO:

0 - Gerais
1 - Navbar
2 - Section Chamada
3 - Section valores-cafe
4 - Section sabores-cafe
5 - Section Localidades
6 - Section newsletter
7 - Footer

*/

/* 0 - Gerais */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}

@media (max-width:960px) {
    .container {
        max-width: 600px;
    }

    @media (max-width:600px) {
        .container {
            max-width: 300px;
        }
    }
}

.clear:after, .clear:before {
    content: "";
    display: table;
    clear: both;
}



/* 1 - Navbar */
nav {
    background: #2d2d2d;
    padding: 20px 0;
}

nav img {
    margin-left: 10px;
    display: block;
    float: left;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.125em;
}

nav ul li {
    display: inline-block;
    margin: 10px 10px;
}

nav ul li:after {
    content: "";
    background: #fafafa;
    width: 0;
    height: 5px;
    display: block;
    transition: 0.3s;
}

nav ul li:hover:after {
    width: 100%;
}

nav ul {
    float: right;
    clear: right;
}

@media (max-width: 960px) {
    nav .container {
        max-width: 960px;
    }
    
    @media (max-width: 600px) {
        nav ul {
            float: none;
            clear: both;
            text-align: center;
        }

        nav ul li {
            margin: 0px 10px;
        }

        nav img {
            display: block;
            float: none;
            margin: 0 auto;
            margin-bottom: 15px;
        }
    }
}


/* 2 - Section Chamada */
#chamada {
    padding: 130px 0;
    background: url("../img/bg-intro.jpg") no-repeat center center;
    background-size: cover;
}

#chamada h1, #chamada h5 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}

#chamada h1 {
    font-size: 3em;
    text-transform: uppercase;
}

#chamada h1::after {
    content: "";
    background: white;
    width: 20px;
    height: 4px;
    display: block;
    margin: 10px auto 0 auto;
}

#chamada h5{
    font-size: 1.125em;
    font-style: italic;
}
@media (max-width: 600px) {
    #chamada {
        padding: 70px 0;
    }
}


/* Section valores-cafe */
#valores-cafe h2 {
    font-size: 2.25em;
    margin: 50px 40px 40px 40px;
    text-align: center;
}

#valores-cafe .valor h3 {
    max-width: 220px;
    font-size: 2.25em;
    color: #fafafa;
    background: #2d2d2d;
    padding: 5px 0 10px 0;
    text-align: center;
    text-transform: lowercase;
    font-style: italic;
    position: relative;
    top: -25px;
}

#valores-cafe .valor {
    float: left;
    margin: 0 10px;
    max-width: 100%;
}

#texto-valores {
    padding: 0 5px;
    margin: 15px auto 60px auto;
    max-width: 460px;
    text-align: center;
    font-style: italic;
    font-size: 1.125em;
}

@media (max-width: 960px) {

    #valores-cafe .container {
        max-width: 600px;
    }

    #valores-cafe .valor img {
        max-width: 280px;
    }

    #valores-cafe .valor h3 {
        font-size: 1.125em;
    }

    @media (max-width: 600px) {

        #valores-cafe .container {
            max-width: 300px;
        }

        #valores-cafe .valor {
        margin: 10px auto;
        }
        
        #valores-cafe .valor img {
            max-width: 300px;
            margin: 0 auto;
        }

        #valores-cafe .valor h3 {
            font-size: 1.125em;
            margin: 0 auto;
        }
    }
}



/* 4 - Section sabores-cafe */
#sabores-cafe {
    padding: 30px 0;
    background-color: #e7e4d8;
    border:3px solid #c2c0b8;
}

#sabores-cafe .sabor {
    max-width: 295px;
    font-size: 0.875em;
    float: left;
    margin: 25px 10px;
    margin-top: 15px;
}

#sabores-cafe .sabor h2 {
    text-align: center;
    font-size: 2.25em;
    margin: 0 0 10px 0;
}

#sabores-cafe p {
    text-align: left;
}

/* Círculos */
#sabores-cafe .sabor h2::before {
    content: "";
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
    margin: 20px auto;
    border: #fafafa solid 5px;
}

/* Tipos de Café */
#paulista::before {
    background: #492901;
    box-shadow: 0 0 0 5px #492901;
}

#carioca::before {
    background: #c17139;
    box-shadow: 0 0 0 5px #c17139;
}

#mineiro::before {
    background: #d7a54d;
    box-shadow: 0 0 0 5px #d7a54d;
}

#link-tipos {
    display: table;
    font-size: 1.125em;
    text-transform: uppercase;
    text-decoration: none;
    color: #1b1b1b;
    border: 2px solid #1b1b1b;
    text-align: center;
    font-weight: bold;
    padding: 15px 20px;
    margin: 10px auto 30px auto;
    transition: 0.3s;
}
#link-tipos:hover {
    background-color: #1b1b1b;
    color: #fafafa;
}

@media (max-width: 960px) {
    #sabores-cafe .sabor {
        width: 29.5%;
    }
    @media (max-width: 600px) {
        #sabores-cafe .sabor {
            width: 97%;
        }
    }
}

/* 5 - Section localidades */

.local {
    margin: 80px 0;
}

.local img {
    float: left;
    width: 50%;
}

.local h2 {
    margin: 0 20px 15px 20px;
    font-size: 2.25em;
    color: #2d2d2d;
    float: left;
    clear: right;
}

.local p {
    margin: 0 20px;
    padding: 0 50px 0 0;
    font-size: 1.125em;
    float: left;
    clear: right;
    width: 320px;
}

.local a {
    margin: 30px 20px;
    font-size: 1.125em;
    float: left;
    text-decoration: none;
    color: #2d2d2d;
    border: 3px solid #2d2d2d;
    padding: 10px 20px;
    transition: 0.3s;
}
.local a:hover {
    background-color: #2d2d2d;
    color: #fafafa;
}

@media (max-width: 960px) {
    .local {
        margin: 40px 0;
    }
    .local img {
        width: 50%;
    }
    .local p {
        width: 275px;
        padding: 0;
        margin-right: 0;
    }
    .local h2 {
        margin-bottom: 10px;
    }
    .local a {
        margin-top: 15px;
    }
    @media (max-width: 600px) {
        .local img {
            width: 300px;
        }
        .local h2 {
            margin-bottom: 0;
            clear: both;
        }
        .local p {
            float: none;
            clear: both;
        }
        .local a {
            float: none;
            display: table;
            margin: 20px auto;
            margin-bottom: 0px;
        }
    }
}

/* 6 - Section newsletter */
#newsletter {
    background: #e7e4d8;
    padding: 30px 0;
    height: 80px;
}

#info-newsletter {
    width: 460px;
    float: left;
    margin: 0 10px;
}

#info-newsletter h2 {
    font-size: 2.25em;
}

#info-newsletter p {
    font-size: 1.5em;
    font-style: italic;
}

form {
	width: 460px;
	margin: 10px 5px 0 15px;
	float: left;
}

form input{
    float: left;
    clear: right;
    width: 320px;
	border: 3px solid #252525;
	background: none;
	font-size: 1.5em;
	font-style: italic;
	padding: 10px;
}

form button {
    background: #252525;
	border: none;
	text-transform: uppercase;
	font-size: 1.5em;
	width: 110px;
	padding: 13px 0;
	color: #fff;
	cursor: pointer;
}

form label {
    display: none;
}

@media (max-width: 960px) {
    #newsletter {
        padding: 10px 0;
        height: 120px;
    }
    #info-newsletter h2 {
        font-size: 1.5em;
    }
    #info-newsletter p {
        font-size: 1.125em;
    }
    form {
        display: table;
        float: none;
    }
    @media (max-width: 600px) {
        #newsletter .container {
            margin: 0;
        }
    }
}

/* 7 - footer */
footer {
	background: #d6d3c8;
    padding: 40px 0;
    height: 50px;
}

footer p {
    width: 460px;
    float: left;
    font-size: 1em;
}

footer img {
    float: right;
}

@media (max-width: 600px) {
    footer {
        padding: 0;
        height: 100px;
    }
    footer .container {
        margin: 0;
    }
    footer p {
        margin-top: 10px;
        text-align: center;
        font-size: 0.875em;
    }
    footer img {
        margin-top: 5px;
    }
}
